table
{
	align-content: center;
	width: 600px;
	height: 80px;
	background:#23baca;
	border-radius: 5px;
	position: fixed;
	top:20%;
	left:22%;
	text-align:center;
}

th
{
	color:white;
	font-size: 19px;
}

