.menu
{
	align-content: center;
	width: 400px;
	height: 170px;
	background:#23baca;
	border-radius: 5px;
	position: fixed;
	top:20%;
	left:30%;
	font-size:19px;
	color:white;
	text-align:center;
}

li
{
	font-size: 19px;
	text-align: center;
	padding: -2px;
	margin: 1px;
}

.reg
{

	align-content: center;
	width: 400px;
	height: 170px;
	background:#23baca;
	border-radius: 5px;
	position: fixed;
	top:20%;
	left:30%;
	font-size:19px;
	color:white;
	text-align:center;

}

.edit
{
	align-content: center;
	width: 400px;
	height: 170px;
	background:#23baca;
	border-radius: 5px;
	position: fixed;
	top:20%;
	left:30%;
	font-size:19px;
	color:white;
	text-align:center;
}

.alert1
{
	align-content: center;
	width: 400px;
	height: 50px;
	background:#23baca;
	border-radius: 5px;
	position: fixed;
	top:20%;
	left:30%;
	font-size:19px;
	color:white;
	text-align:center;
}

.alert2
{
	align-content: center;
	width: 400px;
	height: 50px;
	background:#23baca;
	border-radius: 5px;
	position: fixed;
	top:20%;
	left:30%;
	font-size:19px;
	color:white;
	text-align:center;
}

